.chk-mode{
    display: none;
}
.chk-mode:checked +.content{
    background-color: black;
    color: white;
}

.btn-mode{
    background-color: blueviolet;
    padding:15px 8px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
}