html,body{
    height: 100vh;
}
body{

    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.kutu-1{
    background-color: yellow;
    flex: 2 0 150px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 1rem;

}
.kutu1-1{
    flex: 1;
    background-color: greenyellow;
}

.kutu1-2{
    flex: 3;
    background-color: rgb(203, 126, 32);
}
.kutu-2{
    background-color:burlywood;
    flex: 1 0 50px;
}
.kutu-3{
    background-color:rgb(213, 44, 44);
    flex: 3 0 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;

}

.kutu-3 > div{
    background-color: rgb(0, 68, 255);
    flex: 0 0 50px;
    padding: 80px;

}