.box {
    width: 100px;
    height: 100px;
  }
  
  .box-1 {
    background-color: blueviolet;
    position: relative;
    left: 200px;
    top: 15px;
  }
  .box-2 {
    position: relative;
    background-color: crimson;
    left: 15rem;
    top: 0.3rem;
  }
  .content {
    height: 50vh;
    background-color: cyan;
    position:relative;
  }
  .content img {
    width: 100px;
    height: auto;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }